Source: po4a
Section: text
Priority: optional
Maintainer: Martin Quinson <mquinson@debian.org>
Uploaders:  Jonas Smedegaard <dr@jones.dk>,
 Simon Paillard <spaillard@debian.org>,
 Denis Barbier <barbier@debian.org>
Standards-Version: 3.9.8
Build-Depends-Indep: perl, libmodule-build-perl, 
 docbook-xml, docbook-xsl, xsltproc,
 libterm-readkey-perl,
# unit tests
 gettext, libunicode-linebreak-perl,
#   SGML
 opensp, docbook, libsgmls-perl,
#   TeX
 texlive-binaries
Build-Depends: debhelper (>= 8)
Homepage: http://po4a.alioth.debian.org/
Vcs-Git: git://anonscm.debian.org/collab-maint/po4a.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/po4a.git

Package: po4a
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${perl:Depends}, gettext, libsgmls-perl, opensp
Recommends: libtext-wrapi18n-perl, libterm-readkey-perl, liblocale-gettext-perl, libunicode-linebreak-perl
Description: tools to ease the translation of documentation
 po4a eases the translation of documentation and other textual document.
 Even more interestingly, it makes it easy to maintain these
 translations when the original document changes. This is done by
 using the gettext tools in this new domain.
 .
 This package contains the main libraries of po4a, and the necessary
 sub-modules to handle the following formats:
 .
   - Dia: uncompressed Dia diagrams.
   - INI: the INI format
   - KernelHelp: Help messages of each kernel compilation option.
   - LaTeX: generic TeX or LaTeX format.
   - Man: either roff or mdoc format.
   - POD: Perl documentation format.
   - SGML: either DebianDoc or DocBook DTD.
   - Texinfo: the info page format.
   - XML: very configurable (preconfigured for DocBook, XHTML, Guide, WML).
